<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="http://www.geocom.com.uy/"><img
    src="../../../assets/img/logo-geocom.png"
    alt="Geocom">
  </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ingredients" routerLinkActive="active">Ingredients</a>
      </li>
    </ul>
  </div>
</nav>
